button{
    background-color: var(--color-boton);
    font-size: large;
    font-family: var(--fuente-titulo);
    color: var(--color-fondo);
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: var(--color-hover);
}

.btn__pequenio{
    width: 150px;
    height: 40px;
    border-radius: 50px;
}

.btn__mediano{
    width: 200px;
    height: 50px;
}

.btn__grande{
    width: 30%;
    height: 60px;
    margin-top: 20px;
}

.btn__datos{
    width: 200px;
    padding: 20px;
    background-color: var(--color-boton2);
    color: var(--color-texto);
    font-size: 2em;
}

.btn__datos:hover{
    background-color: #dca49ddf;
}

.btn__login{
    margin-top: 20px;
    margin-left: 33%;
}

.btn__cancelar{
    background-color: white;
    color: var(--color-boton);
    border: 2px solid var(--color-boton);
    cursor: pointer;
}

.btn__cancelar:hover{
    background-color: var(--color-boton);
    color: white;
}

.btn__confirmar{
    background-color: white;
    color: var(--color-primario);
    border: 2px solid var(--color-primario);
    cursor: pointer;
}

.btn__confirmar:hover{
    background: var(--color-primario);
    color: white;
}

.btn__cantidad{
    width: 30px;
    height: 30px;
    background-color: var(--color-texto-header);
    color: black;
    border-radius: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

.btn__cantidad:hover{
    background-color: #cbbdb0;
}

.menos, .mas{
    margin-left: 20px;
    margin-right: 20px;
}
.btn__compra{
display: block;
margin: auto;
}
