.pedido{
    max-width: 600px;
    min-width: 400px;
    height: 150px;
    background-color: #c2bbbb6e;
    border-radius: 20px;
    margin: auto;
}

.pedido__caja{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.pedido__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
