.tarjeta{
    width: 375px;
    height: 235px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 40px;
      -webkit-perspective: 600px;
      -moz-perspective: 600px;
      perspective:600px;
      background-color: #c2bbbb4d;
      border-radius: 20px;
    }
    
    .tarjeta__figura{
      width: 320px;
      height: 190px;
      box-shadow: 1px 1px #aaa3a3;
      position: absolute;
      left: 27px;
      top:20px;
      background-image: linear-gradient(to right bottom, #fd8969, #fa9461, #f69558, #f18650d4, #ec9a48); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 8px;
    }
    
    .tarjeta__frontal{
      padding: 18px;
    }
    
    .tarjeta__logo {
      width: 28px;
      height: auto;
      position: absolute;
      top: 18px;
      right: 18px;
    }

    .tarjeta__chip {
        border-radius: 5px;
        width: 36px;
        height: auto;
    }
    
    .tarjeta__numero {
        display: block;
        width: 100%;
        word-spacing: 4px;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .card__space-75 {
        width: 75%;
        float: left;
    }
    
    .card__space-25 {
        width: 25%;
        float: left;
    }
    
    .tarjeta__texto {
        font-size: 10px;
        text-transform: uppercase;
        color: rgba(255,255,255,0.8);
        letter-spacing: 1px;
    }
    
    .tarjeta__info {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    
    .tarjeta__editar{
      margin-left: 80%;
      margin-bottom: 20px;
    }
    
.tarjeta__acciones{
  display: flex;
  justify-content: flex-end;
  align-items: end;
  text-decoration:underline;
  position: relative;
  top: 35%;
}

.separador{
  position: relative;
  top: 10px;
}
