.login{
    width: 100vw;
    min-height: 91.5vh;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularios{
    width: 45%;
    min-height: max-content;
    background-color: var(--color-secundario);
    border-radius: 0px 0px 20px 20px;
}

.tab{
    background-color: var(--color-fondo);
}

.btn__tab{
    width: 50%;
    height: 60px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--color-boton2);
    color: var(--color-texto);
    font-size: 2rem;
    cursor: pointer;
}

.btn__tab:hover{
    background-color: var(--color-secundario);
}
.active{
    background-color: var(--color-secundario);
}

.login__form > label, .login__form > input{
    margin-left: 0px;
}

.btn__login, .btn__registro{
    display: block;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
}

.errorRegistro{
   text-align: center;
}
